[project]
	description = Girrit tool testing
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SandyDheringe
[access "refs/for/refs/*"]
	read = group user/SandyDheringe
	push = group user/SandyDheringe
	label-Code-Review = -2..+2 group user/SandyDheringe
	label-Verified = -1..+1 group user/SandyDheringe
	rebase = group user/SandyDheringe
	removeReviewer = group user/SandyDheringe
	submit = group user/SandyDheringe
[access "refs/heads/*"]
	read = group user/SandyDheringe
	create = group user/SandyDheringe
	push = +force group user/SandyDheringe
	pushMerge = group user/SandyDheringe
[access "refs/tags/*"]
	push = +force group user/SandyDheringe
	pushTag = group user/SandyDheringe
	pushSignedTag = group user/SandyDheringe
